<div *ngFor="let tweet of (tweet$ | async); let idx = index" class="d-flex p-2">

    <ng-container *ngIf="tweet">
        <img class="avatar p-1" src="https://pbs.twimg.com/profile_images/1425662370513231884/F8UnZi7J_bigger.jpg">
        <div class="me-auto d-flex flex-column p-1">
            <span class="fw-bold author">Hieu Le
                <span class="fw-normal username">@HieuLe47390205</span>
            </span>
    
            <span class="tweet-content">{{tweet}}</span>
        </div>
    
        <span class="cursor-pointer" (click)="remove(idx)">🗑️</span>
    </ng-container>
    
</div>