/* You can add global styles to this file, and also import other style files */
@import "fonts.sass"
@import "./components/utilities.sass"

header
    border-bottom: 1px solid
    border-bottom-color: #E1E1E1
    margin-bottom: 5rem
    text-align: center
    padding: 1.5rem

body
    font-family: TwitterChirp, Arial, Helvetica, sans-serif !important

.app-title
    margin-bottom: 0
    font-weight: 700


.container
    flex-wrap: wrap
    padding-left: 5rem
    padding-right: 5rem
    